<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="py-5 mx-auto w-11/12 max-w-lg">
    <h2 class="text-4xl text-emerald-500">Login Form</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="px-10 mx-auto py-8">
      <div class="relative z-0 w-full mb-5 group">
        <input formControlName="username" type="text" class="block py-2.5 px-2 w-full text-sm border-0 border-b-2 border-gray-300 focus:outline-none focus:ring-0 peer">
        <label for="floating_username" class="px-2 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
        @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
          <div class="mb-3 text-red-600">
            <div class="flex items-center p-4 mb-4 text-sm border border-red-300 bg-red-50 rounded-lg" role="alert">
              <i class="fas fa-exclamation-circle shrink-0 inline w-4 h-4 me-3"></i>
              <span class="sr-only">Info</span>
              <div>Username is required</div>
            </div>
          </div>
        }
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <input formControlName="password" type="password" class="block py-2.5 px-2 w-full text-sm border-0 border-b-2 border-gray-300 focus:outline-none focus:ring-0 peer">
        <label for="floating_password" class="px-2 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <div class="mb-3 text-red-600">
            <div class="flex items-center p-4 mb-4 text-sm border border-red-300 bg-red-50 rounded-lg" role="alert">
              <i class="fas fa-exclamation-circle shrink-0 inline w-4 h-4 me-3"></i>
              <span class="sr-only">Info</span>
              <div>Password is required</div>
            </div>
          </div>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="text-white font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center bg-green-700 hover:bg-green-800 focus:ring-green-300">
        Login
      </button>
      @if (errorMessage) {
        <p class="text-red-600 text-center text-sm mt-2">{{ errorMessage }}</p>
      }
    </form>
  </div>
</div>